#game {
  width: 800px;
  height: 800px; position: relative;
  overflow: hidden;
}

.red {
  background: red;
}
.green {
  background: green;
}
.brown {
  background: brown;
}
.blue {
  background: blue;
}
.black {
  background: black;
}
.purple {
  background: purple;
}
.orange {
  background: orange;
}

.lake {
  border-radius: 30px;
  top: 500px;
}

#fish {
  width: 50px;
  height: 50px;
  position: absolute;
  padding: 0; margin: 0; border: 0;
  background: url(photo.PNG);
  background-size: 50px 50px;
  z-index: 999;
}

#start {
  height: 800px;
  width: 800px;
  position: absolute;
  left: 0px;
}

#end {
  height: 800px;
  width: 200px;
  position: absolute;
  right: 0px;
}
